.log {
  padding: 10px;
  color: white;
  font-size: 14px;
}
.btnstyle {
  width: 24px;          /* w-6 */
  height: 24px;         /* h-6 */
  color: white;         /* text-white */
  cursor: pointer;      /* cursor-pointer */
  margin-top: 40px;
  padding: 1px;
}
