@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .login-page {
    padding: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
